USE [master]
GO
/****** Object:  Database [MainSchool]    Script Date: 3/26/2022 10:02:27 AM ******/
CREATE DATABASE [MainSchool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MainSchool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MainSchool.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MainSchool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MainSchool_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MainSchool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MainSchool]
GO
/****** Object:  Table [dbo].[TBL_U_Assignment]    Script Date: 3/26/2022 10:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Assignment](
	[Assignment_id] [uniqueidentifier] NOT NULL,
	[Assignment_Student_id_fk] [uniqueidentifier] NULL,
	[Assignment_date] [datetime2](3) NOT NULL,
	[Assignment_due_date] [datetime2](3) NOT NULL,
	[AssignmentTxt] [varchar](8000) NULL,
	[AssignmentImg] [varbinary](max) NULL,
	[TeacherRemark] [varchar](4000) NULL,
	[ParentRemark] [varchar](4000) NULL,
	[Completed] [int] NULL,
	[Assignment_Teacher_id_fk] [uniqueidentifier] NULL,
	[Assignment_Class_id_fk] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Attendance]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Attendance](
	[Attendance_id] [uniqueidentifier] NOT NULL,
	[Attendance_Student_id_fk] [uniqueidentifier] NULL,
	[Attendance_date] [datetime2](3) NOT NULL,
	[Remark] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_BusBoardingLog]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_BusBoardingLog](
	[TBL_U_BusBoardingLog_id] [uniqueidentifier] NOT NULL,
	[Passenger_Person_id_fk] [uniqueidentifier] NULL,
	[Driver_Person_id_fk] [uniqueidentifier] NULL,
	[Vehicle_No] [varchar](32) NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Latitude_str] [varchar](50) NULL,
	[Longitude_str] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TBL_U_BusBoardingLog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Class]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Class](
	[Class_id] [uniqueidentifier] NOT NULL,
	[Class_School_id_fk] [uniqueidentifier] NULL,
	[Class] [varchar](16) NOT NULL,
	[Section] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Driver]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Driver](
	[Driver_id] [uniqueidentifier] NOT NULL,
	[License_no] [varchar](128) NULL,
	[Driver_Route_id_fk] [uniqueidentifier] NULL,
	[Driver_SchoolAgeUser_id_fk] [uniqueidentifier] NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Latitude] [decimal](18, 0) NULL,
	[Longitude] [decimal](18, 0) NULL,
	[Latitude_str] [varchar](50) NULL,
	[Longitude_str] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Exams]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Exams](
	[Exams_id] [uniqueidentifier] NOT NULL,
	[Exams_Class_id_fk] [uniqueidentifier] NULL,
	[Exam_Name] [varchar](16) NOT NULL,
	[Exam_Description] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Exams_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Fee]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Fee](
	[Fee_id] [uniqueidentifier] NOT NULL,
	[Fee_Student_id_fk] [uniqueidentifier] NULL,
	[Fee_Amount] [decimal](18, 2) NULL,
	[Fee_Description] [varchar](16) NOT NULL,
	[Fee_Due_Date] [datetime2](3) NOT NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[IsDue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_GoverningBody]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_GoverningBody](
	[GoverningBody_id] [uniqueidentifier] NOT NULL,
	[GoverningBody_School_id_fk] [uniqueidentifier] NULL,
	[GoverningBody_Person_id_fk] [uniqueidentifier] NULL,
	[Designation] [varchar](64) NOT NULL,
	[Qualification] [varchar](64) NULL,
	[Department] [varchar](64) NULL,
	[LastVisited] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[GoverningBody_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Marks]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Marks](
	[Marks_id] [uniqueidentifier] NOT NULL,
	[Marks_Student_id_fk] [uniqueidentifier] NULL,
	[ExamName] [varchar](128) NOT NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Class] [varchar](16) NOT NULL,
	[Remark] [varchar](64) NULL,
	[Rank] [varchar](16) NULL,
	[Marks_Subject_id_fk] [uniqueidentifier] NULL,
	[Marks] [decimal](18, 2) NULL,
	[TotalMarks] [decimal](18, 2) NULL,
	[HighestMarks] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Marks_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Notice]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Notice](
	[Notice_id] [uniqueidentifier] NOT NULL,
	[Notice_School_id_fk] [uniqueidentifier] NULL,
	[Description] [varchar](8000) NULL,
	[DescImage] [varbinary](max) NULL,
	[Valid_From] [datetime2](3) NOT NULL,
	[Valid_To] [datetime2](3) NOT NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Completed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Notice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Parent]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Parent](
	[Parent_id] [uniqueidentifier] NOT NULL,
	[Parent_SchoolAgeUser_id_fk] [uniqueidentifier] NULL,
	[Parent_Student_id_fk] [uniqueidentifier] NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Person]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Person](
	[Person_id] [uniqueidentifier] NOT NULL,
	[Last_name] [varchar](128) NULL,
	[Middle_name] [varchar](128) NULL,
	[First_name] [varchar](128) NULL,
	[Address_1] [varchar](256) NULL,
	[Address_2] [varchar](256) NULL,
	[Address_3] [varchar](256) NULL,
	[Phone] [varchar](32) NOT NULL,
	[OtherInfo] [varchar](8000) NULL,
	[Email] [varchar](128) NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_PersonImg]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_PersonImg](
	[PersonImg_id] [uniqueidentifier] NOT NULL,
	[Photo] [varbinary](max) NULL,
	[DBUser] [int] NULL,
	[PersonImg_Person_id_fk] [uniqueidentifier] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonImg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Route]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Route](
	[Route_id] [uniqueidentifier] NOT NULL,
	[Description] [varchar](1024) NULL,
	[Route_School_id_fk] [uniqueidentifier] NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Route_Indx] [int] NOT NULL,
	[Vehicle_No] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[Route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_RouteMap]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_RouteMap](
	[RouteMap_id] [uniqueidentifier] NOT NULL,
	[DBUser] [int] NULL,
	[Description] [varchar](512) NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Route_id_fk] [uniqueidentifier] NULL,
	[Latitude_str] [varchar](50) NULL,
	[Longitude_str] [varchar](50) NULL,
	[Sequence_no] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteMap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_School]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_School](
	[School_id] [uniqueidentifier] NOT NULL,
	[School_code] [varchar](32) NOT NULL,
	[Description] [varchar](128) NULL,
	[Address_1] [varchar](256) NULL,
	[Address_2] [varchar](256) NULL,
	[Address_3] [varchar](256) NULL,
	[Phone] [varchar](32) NOT NULL,
	[Email] [varchar](512) NULL,
	[About] [varbinary](max) NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[School_Indx] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[School_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_SchoolAgeUser]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_SchoolAgeUser](
	[SchoolAgeUser_id] [uniqueidentifier] NOT NULL,
	[Username] [varchar](128) NOT NULL,
	[Password] [varchar](128) NOT NULL,
	[SchoolAgeUser_UserType_id_fk] [uniqueidentifier] NULL,
	[SchoolAgeUser_School_id_fk] [uniqueidentifier] NULL,
	[SchoolAgeUser_Person_id_fk] [uniqueidentifier] NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Linked_FB] [varchar](128) NULL,
	[Linked_Google] [varchar](128) NULL,
	[User_login_otp] [varchar](4) NULL,
	[User_time_otp] [datetime2](3) NULL,
	[User_unique_key] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchoolAgeUser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Student]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Student](
	[Student_id] [uniqueidentifier] NOT NULL,
	[Class] [varchar](16) NULL,
	[Section] [varchar](16) NULL,
	[Roll] [int] NULL,
	[Position] [int] NULL,
	[DateOfBirth] [datetime2](3) NOT NULL,
	[Student_SchoolAgeUser_id_fk] [uniqueidentifier] NULL,
	[Student_RouteMap_id_fk] [uniqueidentifier] NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Student_IC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_StudentRemark]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_StudentRemark](
	[StudentRemark_id] [uniqueidentifier] NOT NULL,
	[StudentRemark_Student_id_fk] [uniqueidentifier] NULL,
	[StudentRemark_SchoolAgeUser_id_fk] [uniqueidentifier] NULL,
	[Remark] [varchar](8000) NULL,
	[Remark_date] [datetime2](3) NOT NULL,
	[Completed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentRemark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Subject]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Subject](
	[Subject_id] [uniqueidentifier] NOT NULL,
	[Subject_code] [varchar](8) NOT NULL,
	[Description] [varchar](8000) NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Teacher]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Teacher](
	[Teacher_id] [uniqueidentifier] NOT NULL,
	[Class] [varchar](16) NULL,
	[Section] [varchar](16) NULL,
	[Teacher_SchoolAgeUser_id_fk] [uniqueidentifier] NULL,
	[Teacher_Subject_id_fk] [uniqueidentifier] NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
	[Modified_date] [datetime2](3) NOT NULL,
	[Designation] [varchar](64) NULL,
	[Qualification] [varchar](64) NULL,
	[Department] [varchar](64) NULL,
	[LastVisited] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_Teacher_TT]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_Teacher_TT](
	[Teacher_TT_id] [uniqueidentifier] NOT NULL,
	[Teacher_TT_Teacher_id_fk] [uniqueidentifier] NULL,
	[From_time] [time](7) NOT NULL,
	[To_time] [time](7) NOT NULL,
	[Week_day] [varchar](16) NOT NULL,
	[Teacher_TT_Subject_id_fk] [uniqueidentifier] NULL,
	[Teacher_TT_Class_id_fk] [uniqueidentifier] NULL,
	[Description] [varchar](256) NULL,
	[DBUser] [int] NULL,
	[Creation_date] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Teacher_TT_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_U_UserType]    Script Date: 3/26/2022 10:02:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_U_UserType](
	[UserType_id] [uniqueidentifier] NOT NULL,
	[User_code] [varchar](2) NOT NULL,
	[Description] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserType_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_U_Assignment] ([Assignment_id], [Assignment_Student_id_fk], [Assignment_date], [Assignment_due_date], [AssignmentTxt], [AssignmentImg], [TeacherRemark], [ParentRemark], [Completed], [Assignment_Teacher_id_fk], [Assignment_Class_id_fk]) VALUES (N'f78a6da8-8ff9-4b7c-928f-01c000966c6d', N'63c05e67-e60f-461d-8146-ca9e9703418b', CAST(N'2022-01-10T09:50:12.7030000' AS DateTime2), CAST(N'2022-01-29T09:00:00.0000000' AS DateTime2), N'Complete Exercise book Pg, 11,12', NULL, N'', NULL, 0, N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', N'e65ec137-1837-4e3a-b4c9-7e7440f2635f')
INSERT [dbo].[TBL_U_Assignment] ([Assignment_id], [Assignment_Student_id_fk], [Assignment_date], [Assignment_due_date], [AssignmentTxt], [AssignmentImg], [TeacherRemark], [ParentRemark], [Completed], [Assignment_Teacher_id_fk], [Assignment_Class_id_fk]) VALUES (N'd163a544-61a4-44cd-a93d-09362bf47d61', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', CAST(N'2022-01-15T11:26:24.8300000' AS DateTime2), CAST(N'2022-01-29T09:00:00.0000000' AS DateTime2), N'Test paper 15', NULL, N'', NULL, 0, N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', N'e65ec137-1837-4e3a-b4c9-7e7440f2635f')
INSERT [dbo].[TBL_U_Assignment] ([Assignment_id], [Assignment_Student_id_fk], [Assignment_date], [Assignment_due_date], [AssignmentTxt], [AssignmentImg], [TeacherRemark], [ParentRemark], [Completed], [Assignment_Teacher_id_fk], [Assignment_Class_id_fk]) VALUES (N'198cc7a8-deab-48b5-a2d9-0c5cd8e2b720', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', CAST(N'2022-01-15T11:41:16.3700000' AS DateTime2), CAST(N'2022-01-29T09:00:00.0000000' AS DateTime2), N'Do again worksheet 4', NULL, N'', NULL, 1, N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', N'e65ec137-1837-4e3a-b4c9-7e7440f2635f')
INSERT [dbo].[TBL_U_Attendance] ([Attendance_id], [Attendance_Student_id_fk], [Attendance_date], [Remark]) VALUES (N'7f7bc64d-2c4d-4334-9c9e-0964b2cfe73d', N'28ad1380-f769-462b-bc1d-006e69be5a8c', CAST(N'2018-10-21T00:00:00.0000000' AS DateTime2), N'A')
INSERT [dbo].[TBL_U_Attendance] ([Attendance_id], [Attendance_Student_id_fk], [Attendance_date], [Remark]) VALUES (N'd2fef414-6d97-4d4a-8e1d-11547d600a1b', N'df5e12bd-4364-457e-b476-c76eb9557744', CAST(N'2018-10-25T00:00:00.0000000' AS DateTime2), N'P')
INSERT [dbo].[TBL_U_Attendance] ([Attendance_id], [Attendance_Student_id_fk], [Attendance_date], [Remark]) VALUES (N'efe68111-36cc-4fc9-90a9-199ea2a154fa', N'05723a36-5d84-4db7-b590-49d1e386b8ba', CAST(N'2018-10-26T00:00:00.0000000' AS DateTime2), N'P')
INSERT [dbo].[TBL_U_BusBoardingLog] ([TBL_U_BusBoardingLog_id], [Passenger_Person_id_fk], [Driver_Person_id_fk], [Vehicle_No], [Creation_date], [Modified_date], [Latitude_str], [Longitude_str]) VALUES (N'def77e5b-e984-4745-9cc2-993658cdadcd', N'a84a1218-b856-4462-9047-960e053c030b', N'9195e2d2-eaf5-4b9b-909c-c582c427188b', N'WB67UNGH', CAST(N'2018-10-18T10:14:59.2630000' AS DateTime2), CAST(N'2018-10-18T10:14:59.2630000' AS DateTime2), N'40.2345', N'-122.2345')
INSERT [dbo].[TBL_U_BusBoardingLog] ([TBL_U_BusBoardingLog_id], [Passenger_Person_id_fk], [Driver_Person_id_fk], [Vehicle_No], [Creation_date], [Modified_date], [Latitude_str], [Longitude_str]) VALUES (N'2338816c-dc3c-4536-adea-da02fc952d7a', N'560168ec-3c86-4f70-97df-f46dbb853253', N'9195e2d2-eaf5-4b9b-909c-c582c427188b', N'WB67UNGH', CAST(N'2018-10-18T10:14:59.0770000' AS DateTime2), CAST(N'2018-10-18T10:14:59.0770000' AS DateTime2), N'40.2345', N'-122.2345')
INSERT [dbo].[TBL_U_Class] ([Class_id], [Class_School_id_fk], [Class], [Section]) VALUES (N'6ab791c4-80e7-464f-ba50-88b002e2c60b', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'1', N'A')
INSERT [dbo].[TBL_U_Class] ([Class_id], [Class_School_id_fk], [Class], [Section]) VALUES (N'1d8be8d0-6fc5-4201-97c0-da67b1275f6a', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'1', N'B')
INSERT [dbo].[TBL_U_Class] ([Class_id], [Class_School_id_fk], [Class], [Section]) VALUES (N'cf86b87c-4f6c-4d64-9e78-773b51f43a45', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'1', N'C')
INSERT [dbo].[TBL_U_Driver] ([Driver_id], [License_no], [Driver_Route_id_fk], [Driver_SchoolAgeUser_id_fk], [DBUser], [Creation_date], [Modified_date], [Latitude], [Longitude], [Latitude_str], [Longitude_str]) VALUES (N'32c12805-f820-4535-9659-f1db80e7d769', N'46577657', N'fb484c5f-3ff0-4a0f-bcc3-804973c450cf', N'b375be94-5e52-4965-a0b6-18e60f2710cc', 601, CAST(N'2018-08-12T09:16:16.5030000' AS DateTime2), CAST(N'2018-08-12T09:16:16.5030000' AS DateTime2), CAST(40 AS Decimal(18, 0)), CAST(-122 AS Decimal(18, 0)), N'1.32008004', N'103.82647477')
INSERT [dbo].[TBL_U_Exams] ([Exams_id], [Exams_Class_id_fk], [Exam_Name], [Exam_Description]) VALUES (N'689edd08-76cc-4277-8993-063e7f2ff51c', N'62459abf-f911-425b-b883-16e764cbffd0', N'2nd Term', N'2 assesment')
INSERT [dbo].[TBL_U_Exams] ([Exams_id], [Exams_Class_id_fk], [Exam_Name], [Exam_Description]) VALUES (N'74c083be-800f-4354-b603-0a10c363b263', N'6ab791c4-80e7-464f-ba50-88b002e2c60b', N'1st Term', N'1 assesment')
INSERT [dbo].[TBL_U_Exams] ([Exams_id], [Exams_Class_id_fk], [Exam_Name], [Exam_Description]) VALUES (N'34d61006-40db-4f56-96c1-101a75f9f8b9', N'437984bd-cbc9-43d9-ad56-a364fae380c0', N'1st Term', N'1 assesment')
INSERT [dbo].[TBL_U_Fee] ([Fee_id], [Fee_Student_id_fk], [Fee_Amount], [Fee_Description], [Fee_Due_Date], [DBUser], [Creation_date], [IsDue]) VALUES (N'c4f60f3f-ea4b-4802-bf5c-157f8f153764', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', CAST(998.50 AS Decimal(18, 2)), N'Extra Curr Fee', CAST(N'2018-08-27T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-10-03T08:57:13.2100000' AS DateTime2), 1)
INSERT [dbo].[TBL_U_Fee] ([Fee_id], [Fee_Student_id_fk], [Fee_Amount], [Fee_Description], [Fee_Due_Date], [DBUser], [Creation_date], [IsDue]) VALUES (N'1828d4bb-2f6c-4e3d-8ad4-4ecbc3e49fa1', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', CAST(480.50 AS Decimal(18, 2)), N'Tution Fee', CAST(N'2018-08-21T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-10-03T08:56:07.4630000' AS DateTime2), 1)
INSERT [dbo].[TBL_U_Fee] ([Fee_id], [Fee_Student_id_fk], [Fee_Amount], [Fee_Description], [Fee_Due_Date], [DBUser], [Creation_date], [IsDue]) VALUES (N'8220fe10-c6b3-415a-8b5e-64ad37f9dc1e', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', CAST(40.50 AS Decimal(18, 2)), N'Library Fee', CAST(N'2018-08-25T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-10-03T08:56:07.8400000' AS DateTime2), 1)
INSERT [dbo].[TBL_U_GoverningBody] ([GoverningBody_id], [GoverningBody_School_id_fk], [GoverningBody_Person_id_fk], [Designation], [Qualification], [Department], [LastVisited]) VALUES (N'c6d42f72-2fe9-4a43-bf6a-5a57928199e8', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'150e5800-fc40-42b5-b625-5295349e70c5', N'Vice Principle', N'M.Sc(Mass Communication)', N'Administration', CAST(N'2018-10-06T06:01:14.8470000' AS DateTime2))
INSERT [dbo].[TBL_U_GoverningBody] ([GoverningBody_id], [GoverningBody_School_id_fk], [GoverningBody_Person_id_fk], [Designation], [Qualification], [Department], [LastVisited]) VALUES (N'563b3798-0d67-4a54-afc9-dfb9817ddf6f', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'c4dbc327-11e4-47b8-9ddd-2373819eee01', N'Principle', N'M.Sc (Irrigation)', N'Administration', CAST(N'2018-10-06T06:00:49.9400000' AS DateTime2))
INSERT [dbo].[TBL_U_GoverningBody] ([GoverningBody_id], [GoverningBody_School_id_fk], [GoverningBody_Person_id_fk], [Designation], [Qualification], [Department], [LastVisited]) VALUES (N'5906c052-7f47-4f84-b5ff-fedb56494e80', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'e712cea9-4151-433d-b606-2723ff7816b7', N'Trustee', N'8th Pass', N'Board of Directors', NULL)
INSERT [dbo].[TBL_U_Marks] ([Marks_id], [Marks_Student_id_fk], [ExamName], [Creation_date], [Class], [Remark], [Rank], [Marks_Subject_id_fk], [Marks], [TotalMarks], [HighestMarks]) VALUES (N'9d3864f0-60dd-4887-8f7e-02b1d35e5bfa', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', N'1st Term', CAST(N'2018-10-05T08:22:18.0170000' AS DateTime2), N'2', N'Pass', N'10', N'2f676141-3bf9-441a-8158-cbd6d2a242f3', CAST(98.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(98.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_U_Marks] ([Marks_id], [Marks_Student_id_fk], [ExamName], [Creation_date], [Class], [Remark], [Rank], [Marks_Subject_id_fk], [Marks], [TotalMarks], [HighestMarks]) VALUES (N'fcae7712-c0ab-4ec0-997d-0cf2b304fafd', N'df5e12bd-4364-457e-b476-c76eb9557744', N'2st Term', CAST(N'2018-10-05T19:35:40.9430000' AS DateTime2), N'2', N'Pass', N'5', N'4c7b401a-c574-4b3b-acd6-8c443cb87cd4', CAST(69.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(99.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_U_Marks] ([Marks_id], [Marks_Student_id_fk], [ExamName], [Creation_date], [Class], [Remark], [Rank], [Marks_Subject_id_fk], [Marks], [TotalMarks], [HighestMarks]) VALUES (N'687e7bd3-f973-4661-a46d-1cd39cf41b40', N'df5e12bd-4364-457e-b476-c76eb9557744', N'1st Term', CAST(N'2018-10-05T09:18:12.2830000' AS DateTime2), N'2', N'Pass', N'5', N'2f676141-3bf9-441a-8158-cbd6d2a242f3', CAST(88.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(98.00 AS Decimal(18, 2)))
INSERT [dbo].[TBL_U_Notice] ([Notice_id], [Notice_School_id_fk], [Description], [DescImage], [Valid_From], [Valid_To], [DBUser], [Creation_date], [Completed]) VALUES (N'8aa39fd1-f282-4830-ade9-3de00f98dca2', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'School will remain close for vaentines day celebration', NULL, CAST(N'2018-10-03T08:15:03.6300000' AS DateTime2), CAST(N'2018-02-14T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-10-03T08:15:03.6300000' AS DateTime2), 0)
INSERT [dbo].[TBL_U_Notice] ([Notice_id], [Notice_School_id_fk], [Description], [DescImage], [Valid_From], [Valid_To], [DBUser], [Creation_date], [Completed]) VALUES (N'12c8bfb1-c073-450c-88df-64a19ff3585c', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'School will celebrate ghost month in August of every month, there will be lesson only on Harry Potter, during this time', NULL, CAST(N'2018-10-03T08:17:34.5330000' AS DateTime2), CAST(N'2019-08-31T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-10-03T08:17:34.5330000' AS DateTime2), 0)
INSERT [dbo].[TBL_U_Parent] ([Parent_id], [Parent_SchoolAgeUser_id_fk], [Parent_Student_id_fk], [DBUser], [Creation_date], [Modified_date]) VALUES (N'0c4bc51e-ad38-4176-90cd-00692d48aac2', N'e76c1a00-b256-4f22-80b0-febef981264f', N'df5e12bd-4364-457e-b476-c76eb9557744', 601, CAST(N'2018-08-10T20:39:30.6500000' AS DateTime2), CAST(N'2018-08-10T20:39:30.6500000' AS DateTime2))
INSERT [dbo].[TBL_U_Parent] ([Parent_id], [Parent_SchoolAgeUser_id_fk], [Parent_Student_id_fk], [DBUser], [Creation_date], [Modified_date]) VALUES (N'cc8b285d-79b1-49ef-a65a-03a3a10176e8', N'cfc31528-c033-48b7-b4ad-11c2498efff6', N'05723a36-5d84-4db7-b590-49d1e386b8ba', 601, CAST(N'2018-10-06T21:36:14.0530000' AS DateTime2), CAST(N'2018-10-06T21:36:14.0530000' AS DateTime2))
INSERT [dbo].[TBL_U_Parent] ([Parent_id], [Parent_SchoolAgeUser_id_fk], [Parent_Student_id_fk], [DBUser], [Creation_date], [Modified_date]) VALUES (N'1c845560-67a1-4fc8-85d3-070c2e966c98', N'785f5db7-5aa6-4fc1-b080-54902a2d7046', N'b42a7541-1e72-4257-9079-0a1b133e0ed9', 601, CAST(N'2018-10-06T21:55:55.7200000' AS DateTime2), CAST(N'2018-10-06T21:55:55.7200000' AS DateTime2))
INSERT [dbo].[TBL_U_Person] ([Person_id], [Last_name], [Middle_name], [First_name], [Address_1], [Address_2], [Address_3], [Phone], [OtherInfo], [Email], [DBUser], [Creation_date], [Modified_date]) VALUES (N'59131a4f-3ddc-437e-850f-027553170a7b', N'Gogai', N'', N'Arun', N'Blk 184 Jelebu Rd', N'#03-02', N'Singapore 670184', N'81232187', N'', N's.gogai@gmail.com', 601, CAST(N'2018-10-06T21:23:37.3400000' AS DateTime2), CAST(N'2018-10-06T21:23:37.3400000' AS DateTime2))
INSERT [dbo].[TBL_U_Person] ([Person_id], [Last_name], [Middle_name], [First_name], [Address_1], [Address_2], [Address_3], [Phone], [OtherInfo], [Email], [DBUser], [Creation_date], [Modified_date]) VALUES (N'38da362c-77e4-450f-b01c-039920b74f7e', N'Ramnaam', N'', N'Muhammad', N'Blk 183 Jelebu Rd', N'#11-08', N'Singapore 670183', N'81232187', N'', N'mohd.ram@gmail.com', 601, CAST(N'2018-10-06T21:40:16.5200000' AS DateTime2), CAST(N'2018-10-06T21:40:16.5200000' AS DateTime2))
INSERT [dbo].[TBL_U_Person] ([Person_id], [Last_name], [Middle_name], [First_name], [Address_1], [Address_2], [Address_3], [Phone], [OtherInfo], [Email], [DBUser], [Creation_date], [Modified_date]) VALUES (N'30b2fb16-a6a1-44a1-bcae-03f526a5f8b0', N'Modak', N'', N'Naresh', N'Blk 604 Senja Rd', N'#15-04', N'Singapore 670604', N'81232187', N'', N'essha.modak@gmail.com', 601, CAST(N'2018-10-06T21:48:30.2030000' AS DateTime2), CAST(N'2018-10-06T21:48:30.2030000' AS DateTime2))
INSERT [dbo].[TBL_U_Route] ([Route_id], [Description], [Route_School_id_fk], [DBUser], [Creation_date], [Modified_date], [Route_Indx], [Vehicle_No]) VALUES (N'fb484c5f-3ff0-4a0f-bcc3-804973c450cf', N'Bukit Panjang Ring Road', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', 901, CAST(N'2018-08-10T20:28:48.9500000' AS DateTime2), CAST(N'2018-08-10T20:28:48.9500000' AS DateTime2), 1, N'WB67UNGH')
INSERT [dbo].[TBL_U_Route] ([Route_id], [Description], [Route_School_id_fk], [DBUser], [Creation_date], [Modified_date], [Route_Indx], [Vehicle_No]) VALUES (N'c3843170-a193-48c2-ab8d-b3532fac81e7', N'Bangkit Road', N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', 901, CAST(N'2018-08-10T18:18:09.2430000' AS DateTime2), CAST(N'2018-08-10T18:18:09.2430000' AS DateTime2), 2, N'WB91UNGH')
INSERT [dbo].[TBL_U_RouteMap] ([RouteMap_id], [DBUser], [Description], [Creation_date], [Modified_date], [Route_id_fk], [Latitude_str], [Longitude_str], [Sequence_no]) VALUES (N'32ea2746-7dd1-43fc-b26f-45c145902a49', 901, N'Opp Bangkit Stn', CAST(N'2018-08-10T20:32:09.2870000' AS DateTime2), CAST(N'2018-08-10T20:32:09.2870000' AS DateTime2), N'fb484c5f-3ff0-4a0f-bcc3-804973c450cf', N'1.3801493245017982', N'103.77231229199833', 1)
INSERT [dbo].[TBL_U_RouteMap] ([RouteMap_id], [DBUser], [Description], [Creation_date], [Modified_date], [Route_id_fk], [Latitude_str], [Longitude_str], [Sequence_no]) VALUES (N'9e0ceab7-e771-4112-a1e6-7ebb1e40412c', 901, N'School', CAST(N'2018-08-10T19:46:46.9870000' AS DateTime2), CAST(N'2018-08-10T19:46:46.9870000' AS DateTime2), N'c3843170-a193-48c2-ab8d-b3532fac81e7', N'1.3897509320279056', N'103.76651096549557', 5)
INSERT [dbo].[TBL_U_RouteMap] ([RouteMap_id], [DBUser], [Description], [Creation_date], [Modified_date], [Route_id_fk], [Latitude_str], [Longitude_str], [Sequence_no]) VALUES (N'99097072-95fc-4b6b-b67e-8236fb8f1cc5', 901, N'Blk 450', CAST(N'2018-08-10T20:32:09.6600000' AS DateTime2), CAST(N'2018-08-10T20:32:09.6600000' AS DateTime2), N'fb484c5f-3ff0-4a0f-bcc3-804973c450cf', N'1.3851341630917053', N'103.7727671501507', 3)
INSERT [dbo].[TBL_U_School] ([School_id], [School_code], [Description], [Address_1], [Address_2], [Address_3], [Phone], [Email], [About], [DBUser], [Creation_date], [Modified_date], [School_Indx]) VALUES (N'9618c691-e5f0-4e0e-b0a8-0b4c0f7aac64', N'AIS', N'Adamas International School', N'58/4, MM Feeder Road, P.O.', N'Belgharia', N', Kolkata - 700056, India', N'9830444749', N'', 0x68747470733A2F2F7777772E65647576696479612E636F6D2F5363686F6F, 901, CAST(N'2018-08-10T18:16:27.9730000' AS DateTime2), CAST(N'2018-08-10T18:16:27.9730000' AS DateTime2), 1)
INSERT [dbo].[TBL_U_School] ([School_id], [School_code], [Description], [Address_1], [Address_2], [Address_3], [Phone], [Email], [About], [DBUser], [Creation_date], [Modified_date], [School_Indx]) VALUES (N'2d20b81d-49e4-4adb-954b-f6dd38de21b9', N'AGBHS', N'Alipore Girls & Boys High School', N'4, Braunfield Ln', N'Mominpore', N'Kolkata, West Bengal 700027, India', N'9830337033', N'', 0x687474703A2F2F7777772E61676268732E636F6D, 901, CAST(N'2018-08-10T18:16:27.5200000' AS DateTime2), CAST(N'2018-08-10T18:16:27.5200000' AS DateTime2), 2)
INSERT [dbo].[TBL_U_Student] ([Student_id], [Class], [Section], [Roll], [Position], [DateOfBirth], [Student_SchoolAgeUser_id_fk], [Student_RouteMap_id_fk], [DBUser], [Creation_date], [Modified_date], [Student_IC]) VALUES (N'28ad1380-f769-462b-bc1d-006e69be5a8c', N'2', N'A', 5, -1, CAST(N'2010-05-17T00:00:00.0000000' AS DateTime2), N'e1d5a84b-3c78-4dd7-83ef-6b797054cd39', N'18eb95ff-bebc-45ee-94bf-9ae7f26c51b1', 601, CAST(N'2018-10-06T21:28:48.4670000' AS DateTime2), CAST(N'2018-10-06T21:28:48.4670000' AS DateTime2), 6)
INSERT [dbo].[TBL_U_Student] ([Student_id], [Class], [Section], [Roll], [Position], [DateOfBirth], [Student_SchoolAgeUser_id_fk], [Student_RouteMap_id_fk], [DBUser], [Creation_date], [Modified_date], [Student_IC]) VALUES (N'b42a7541-1e72-4257-9079-0a1b133e0ed9', N'2', N'A', 12, -1, CAST(N'2010-05-12T00:00:00.0000000' AS DateTime2), N'60e3f141-b054-4295-a36a-dcd3abc3f3f3', N'99097072-95fc-4b6b-b67e-8236fb8f1cc5', 601, CAST(N'2018-10-06T21:55:55.6900000' AS DateTime2), CAST(N'2018-10-06T21:55:55.6900000' AS DateTime2), 13)
INSERT [dbo].[TBL_U_Student] ([Student_id], [Class], [Section], [Roll], [Position], [DateOfBirth], [Student_SchoolAgeUser_id_fk], [Student_RouteMap_id_fk], [DBUser], [Creation_date], [Modified_date], [Student_IC]) VALUES (N'cce42446-be76-4da4-ac45-0cdc3c509265', N'2', N'A', 4, -1, CAST(N'2010-10-05T00:00:00.0000000' AS DateTime2), N'01ca3e9b-54a8-4777-a49c-cff5a7afc0af', N'abba73f1-b3a5-4f74-86dd-f1d7eb3cee64', 601, CAST(N'2018-10-06T21:23:37.2630000' AS DateTime2), CAST(N'2018-10-06T21:23:37.2630000' AS DateTime2), 5)
INSERT [dbo].[TBL_U_StudentRemark] ([StudentRemark_id], [StudentRemark_Student_id_fk], [StudentRemark_SchoolAgeUser_id_fk], [Remark], [Remark_date], [Completed]) VALUES (N'4ebda685-e788-4896-a2b2-a016ec15cc78', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', N'ecdaed89-8264-4eee-8d21-d99db93b022f', N'Child is doing really good in social activity', CAST(N'2018-10-03T08:21:48.9100000' AS DateTime2), 0)
INSERT [dbo].[TBL_U_StudentRemark] ([StudentRemark_id], [StudentRemark_Student_id_fk], [StudentRemark_SchoolAgeUser_id_fk], [Remark], [Remark_date], [Completed]) VALUES (N'7e6ee8c9-f678-479f-aeb5-e9bac0632359', N'ee57f293-f9f8-4a4b-974a-0ce5ecdb18bb', N'ecdaed89-8264-4eee-8d21-d99db93b022f', N'Child needs strengthen reading fluency in French', CAST(N'2018-10-03T08:23:06.7900000' AS DateTime2), 0)
INSERT [dbo].[TBL_U_Subject] ([Subject_id], [Subject_code], [Description], [DBUser], [Creation_date]) VALUES (N'12c23fd9-2816-4c56-8b5a-0c89a7419706', N'CSD', N'Computer Studies', 901, CAST(N'2018-08-12T05:02:02.4170000' AS DateTime2))
INSERT [dbo].[TBL_U_Subject] ([Subject_id], [Subject_code], [Description], [DBUser], [Creation_date]) VALUES (N'd7e34f9d-2fd7-4a53-8747-28ca5c2a6290', N'MTH', N'Mathematics', 901, CAST(N'2018-08-12T05:02:00.1200000' AS DateTime2))
INSERT [dbo].[TBL_U_Subject] ([Subject_id], [Subject_code], [Description], [DBUser], [Creation_date]) VALUES (N'8398ef60-90ea-4cc4-992d-2acdbc67b30a', N'BIO', N'Biology', 901, CAST(N'2018-08-12T05:02:02.0400000' AS DateTime2))
INSERT [dbo].[TBL_U_Teacher] ([Teacher_id], [Class], [Section], [Teacher_SchoolAgeUser_id_fk], [Teacher_Subject_id_fk], [DBUser], [Creation_date], [Modified_date], [Designation], [Qualification], [Department], [LastVisited]) VALUES (N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', N'2', N'A', N'7782e138-da39-47b3-b5d8-6094d68bb7f4', N'2f676141-3bf9-441a-8158-cbd6d2a242f3', 901, CAST(N'2018-08-12T06:53:18.9270000' AS DateTime2), CAST(N'2018-08-12T06:53:18.9270000' AS DateTime2), N'Faculty', N'M.Sc (Physics)', N'Physics', CAST(N'2018-10-06T06:02:46.8470000' AS DateTime2))
INSERT [dbo].[TBL_U_Teacher] ([Teacher_id], [Class], [Section], [Teacher_SchoolAgeUser_id_fk], [Teacher_Subject_id_fk], [DBUser], [Creation_date], [Modified_date], [Designation], [Qualification], [Department], [LastVisited]) VALUES (N'c6d89622-3d7b-4751-a518-dd7b9d758326', N'2', N'A', N'6d6d8c72-e257-4af4-8494-cc8207154791', N'12c23fd9-2816-4c56-8b5a-0c89a7419706', 601, CAST(N'2018-08-12T06:55:59.6900000' AS DateTime2), CAST(N'2018-08-12T06:55:59.6900000' AS DateTime2), N'Faculty', N'M.Sc (Maths)', N'Maths', NULL)
INSERT [dbo].[TBL_U_Teacher_TT] ([Teacher_TT_id], [Teacher_TT_Teacher_id_fk], [From_time], [To_time], [Week_day], [Teacher_TT_Subject_id_fk], [Teacher_TT_Class_id_fk], [Description], [DBUser], [Creation_date]) VALUES (N'732c7086-d7f6-43dd-bf0c-0514d67910f0', N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', CAST(N'15:30:00' AS Time), CAST(N'16:30:00' AS Time), N'Thursday', N'6fdd800b-bacf-4f1c-b399-c3e37bdcb1d3', N'e65ec137-1837-4e3a-b4c9-7e7440f2635f', N'S3-B3B', 901, CAST(N'2018-10-04T08:32:55.3030000' AS DateTime2))
INSERT [dbo].[TBL_U_Teacher_TT] ([Teacher_TT_id], [Teacher_TT_Teacher_id_fk], [From_time], [To_time], [Week_day], [Teacher_TT_Subject_id_fk], [Teacher_TT_Class_id_fk], [Description], [DBUser], [Creation_date]) VALUES (N'f31c56ab-000e-4e26-8155-058596b374b5', N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', CAST(N'08:30:00' AS Time), CAST(N'09:30:00' AS Time), N'Monday', N'12c23fd9-2816-4c56-8b5a-0c89a7419706', N'ee8bb814-e07a-4e78-8b00-1b07282afe55', N'S3-B3B', 901, CAST(N'2018-08-24T08:09:31.2200000' AS DateTime2))
INSERT [dbo].[TBL_U_Teacher_TT] ([Teacher_TT_id], [Teacher_TT_Teacher_id_fk], [From_time], [To_time], [Week_day], [Teacher_TT_Subject_id_fk], [Teacher_TT_Class_id_fk], [Description], [DBUser], [Creation_date]) VALUES (N'19e5db18-bb48-42fa-85af-3a3644edab2f', N'bcfc4495-ed9a-4733-8709-dc56d94d3ed4', CAST(N'11:30:00' AS Time), CAST(N'12:30:00' AS Time), N'Monday', N'6fdd800b-bacf-4f1c-b399-c3e37bdcb1d3', N'ee8bb814-e07a-4e78-8b00-1b07282afe55', N'S5-B1B', 901, CAST(N'2018-08-24T08:16:25.8530000' AS DateTime2))
INSERT [dbo].[TBL_U_UserType] ([UserType_id], [User_code], [Description]) VALUES (N'f0bbd11a-f61b-412c-ad29-425ea290c5b1', N'DR', N'Driver for buses')
INSERT [dbo].[TBL_U_UserType] ([UserType_id], [User_code], [Description]) VALUES (N'686617f7-c460-4482-b3fc-56444aa1a1a7', N'SA', N'School Administrator')
INSERT [dbo].[TBL_U_UserType] ([UserType_id], [User_code], [Description]) VALUES (N'a0bd1d5d-bf73-463f-85b0-834f576b68e6', N'AD', N'DB administrator')
/****** Object:  Index [UQ__TBL_U_At__50A7044891472F50]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Attendance] ADD UNIQUE NONCLUSTERED 
(
	[Attendance_Student_id_fk] ASC,
	[Attendance_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_U_Cl__3A1F7444A6C24C33]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Class] ADD UNIQUE NONCLUSTERED 
(
	[Class_School_id_fk] ASC,
	[Class] ASC,
	[Section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TBL_U_Dr__1FEE9A591650CEC1]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Driver] ADD UNIQUE NONCLUSTERED 
(
	[Driver_SchoolAgeUser_id_fk] ASC,
	[Driver_Route_id_fk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_U_Ex__43180D97BCC90B16]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Exams] ADD UNIQUE NONCLUSTERED 
(
	[Exams_Class_id_fk] ASC,
	[Exam_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TBL_U_Pa__45C700296671EA7A]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Parent] ADD UNIQUE NONCLUSTERED 
(
	[Parent_SchoolAgeUser_id_fk] ASC,
	[Parent_Student_id_fk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_U_Ro__CE6D046436C4D7F0]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Route] ADD UNIQUE NONCLUSTERED 
(
	[Vehicle_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_U_Sc__8C8493097ADA72CC]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC,
	[Password] ASC,
	[SchoolAgeUser_UserType_id_fk] ASC,
	[SchoolAgeUser_School_id_fk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_U_St__A51F9B770569B44B]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Student] ADD UNIQUE NONCLUSTERED 
(
	[Student_SchoolAgeUser_id_fk] ASC,
	[Class] ASC,
	[Section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_U_Te__ECAE708D626B3FEA]    Script Date: 3/26/2022 10:02:28 AM ******/
ALTER TABLE [dbo].[TBL_U_Teacher] ADD UNIQUE NONCLUSTERED 
(
	[Teacher_SchoolAgeUser_id_fk] ASC,
	[Class] ASC,
	[Section] ASC,
	[Teacher_Subject_id_fk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (newid()) FOR [Assignment_id]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [Assignment_Student_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (getdate()) FOR [Assignment_date]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (getdate()) FOR [Assignment_due_date]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [AssignmentTxt]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [AssignmentImg]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [TeacherRemark]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [ParentRemark]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [Assignment_Teacher_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Assignment] ADD  DEFAULT (NULL) FOR [Assignment_Class_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Attendance] ADD  DEFAULT (newid()) FOR [Attendance_id]
GO
ALTER TABLE [dbo].[TBL_U_Attendance] ADD  DEFAULT (NULL) FOR [Attendance_Student_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Attendance] ADD  DEFAULT (getdate()) FOR [Attendance_date]
GO
ALTER TABLE [dbo].[TBL_U_Attendance] ADD  DEFAULT (NULL) FOR [Remark]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (newid()) FOR [TBL_U_BusBoardingLog_id]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (NULL) FOR [Passenger_Person_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (NULL) FOR [Driver_Person_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (NULL) FOR [Vehicle_No]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (NULL) FOR [Latitude_str]
GO
ALTER TABLE [dbo].[TBL_U_BusBoardingLog] ADD  DEFAULT (NULL) FOR [Longitude_str]
GO
ALTER TABLE [dbo].[TBL_U_Class] ADD  DEFAULT (newid()) FOR [Class_id]
GO
ALTER TABLE [dbo].[TBL_U_Class] ADD  DEFAULT (NULL) FOR [Class_School_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (newid()) FOR [Driver_id]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (NULL) FOR [License_no]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (NULL) FOR [Driver_Route_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (NULL) FOR [Driver_SchoolAgeUser_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT ((0.0)) FOR [Latitude]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT ((0.0)) FOR [Longitude]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (NULL) FOR [Latitude_str]
GO
ALTER TABLE [dbo].[TBL_U_Driver] ADD  DEFAULT (NULL) FOR [Longitude_str]
GO
ALTER TABLE [dbo].[TBL_U_Exams] ADD  DEFAULT (newid()) FOR [Exams_id]
GO
ALTER TABLE [dbo].[TBL_U_Exams] ADD  DEFAULT (NULL) FOR [Exams_Class_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT (newid()) FOR [Fee_id]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT (NULL) FOR [Fee_Student_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT ((0)) FOR [Fee_Amount]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT (getdate()) FOR [Fee_Due_Date]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Fee] ADD  DEFAULT ((0)) FOR [IsDue]
GO
ALTER TABLE [dbo].[TBL_U_GoverningBody] ADD  DEFAULT (newid()) FOR [GoverningBody_id]
GO
ALTER TABLE [dbo].[TBL_U_GoverningBody] ADD  DEFAULT (NULL) FOR [GoverningBody_School_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_GoverningBody] ADD  DEFAULT (NULL) FOR [GoverningBody_Person_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_GoverningBody] ADD  DEFAULT (NULL) FOR [Qualification]
GO
ALTER TABLE [dbo].[TBL_U_GoverningBody] ADD  DEFAULT (NULL) FOR [Department]
GO
ALTER TABLE [dbo].[TBL_U_GoverningBody] ADD  DEFAULT (NULL) FOR [LastVisited]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (newid()) FOR [Marks_id]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (NULL) FOR [Marks_Student_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (NULL) FOR [Remark]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (NULL) FOR [Rank]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (NULL) FOR [Marks_Subject_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT ((0)) FOR [Marks]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT ((100)) FOR [TotalMarks]
GO
ALTER TABLE [dbo].[TBL_U_Marks] ADD  DEFAULT (NULL) FOR [HighestMarks]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (newid()) FOR [Notice_id]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (NULL) FOR [Notice_School_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (NULL) FOR [DescImage]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (getdate()) FOR [Valid_From]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (getdate()) FOR [Valid_To]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Notice] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[TBL_U_Parent] ADD  DEFAULT (newid()) FOR [Parent_id]
GO
ALTER TABLE [dbo].[TBL_U_Parent] ADD  DEFAULT (NULL) FOR [Parent_SchoolAgeUser_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Parent] ADD  DEFAULT (NULL) FOR [Parent_Student_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Parent] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Parent] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Parent] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (newid()) FOR [Person_id]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [Last_name]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [Middle_name]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [First_name]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [Address_1]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [Address_2]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [Address_3]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [OtherInfo]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Person] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_PersonImg] ADD  DEFAULT (newid()) FOR [PersonImg_id]
GO
ALTER TABLE [dbo].[TBL_U_PersonImg] ADD  DEFAULT (NULL) FOR [Photo]
GO
ALTER TABLE [dbo].[TBL_U_PersonImg] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_PersonImg] ADD  DEFAULT (NULL) FOR [PersonImg_Person_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_PersonImg] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_PersonImg] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (newid()) FOR [Route_id]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (NULL) FOR [Route_School_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_Route] ADD  DEFAULT (NULL) FOR [Vehicle_No]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (newid()) FOR [RouteMap_id]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (NULL) FOR [Route_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (NULL) FOR [Latitude_str]
GO
ALTER TABLE [dbo].[TBL_U_RouteMap] ADD  DEFAULT (NULL) FOR [Longitude_str]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (newid()) FOR [School_id]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [Address_1]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [Address_2]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [Address_3]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [About]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_School] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (newid()) FOR [SchoolAgeUser_id]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [SchoolAgeUser_UserType_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [SchoolAgeUser_School_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [SchoolAgeUser_Person_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [Linked_FB]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [Linked_Google]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [User_login_otp]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (NULL) FOR [User_time_otp]
GO
ALTER TABLE [dbo].[TBL_U_SchoolAgeUser] ADD  DEFAULT (newid()) FOR [User_unique_key]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (newid()) FOR [Student_id]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (NULL) FOR [Class]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (NULL) FOR [Section]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (NULL) FOR [Roll]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT ((-1)) FOR [Position]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (NULL) FOR [Student_SchoolAgeUser_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (NULL) FOR [Student_RouteMap_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Student] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_StudentRemark] ADD  DEFAULT (newid()) FOR [StudentRemark_id]
GO
ALTER TABLE [dbo].[TBL_U_StudentRemark] ADD  DEFAULT (NULL) FOR [StudentRemark_Student_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_StudentRemark] ADD  DEFAULT (NULL) FOR [StudentRemark_SchoolAgeUser_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_StudentRemark] ADD  DEFAULT (NULL) FOR [Remark]
GO
ALTER TABLE [dbo].[TBL_U_StudentRemark] ADD  DEFAULT (getdate()) FOR [Remark_date]
GO
ALTER TABLE [dbo].[TBL_U_StudentRemark] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[TBL_U_Subject] ADD  DEFAULT (newid()) FOR [Subject_id]
GO
ALTER TABLE [dbo].[TBL_U_Subject] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TBL_U_Subject] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Subject] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (newid()) FOR [Teacher_id]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Class]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Section]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Teacher_SchoolAgeUser_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Teacher_Subject_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (getdate()) FOR [Modified_date]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Designation]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Qualification]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (NULL) FOR [Department]
GO
ALTER TABLE [dbo].[TBL_U_Teacher] ADD  DEFAULT (getdate()) FOR [LastVisited]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (newid()) FOR [Teacher_TT_id]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (NULL) FOR [Teacher_TT_Teacher_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (NULL) FOR [Teacher_TT_Subject_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (NULL) FOR [Teacher_TT_Class_id_fk]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (NULL) FOR [DBUser]
GO
ALTER TABLE [dbo].[TBL_U_Teacher_TT] ADD  DEFAULT (getdate()) FOR [Creation_date]
GO
ALTER TABLE [dbo].[TBL_U_UserType] ADD  DEFAULT (newid()) FOR [UserType_id]
GO
ALTER TABLE [dbo].[TBL_U_UserType] ADD  DEFAULT (NULL) FOR [Description]
GO
USE [master]
GO
